
        <html>
            <head>
                <title>Average Trips by Bounding Box</title>
            </head>
            <body>
                <h1>Average Trips by Bounding Box</h1>
                <img src="{{url_for('static', filename='avg_report_graph.png')}}" width="1000" height="600" />
                <h2>Start and End Day by Week Number</h2>
                <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>TRIP_WEEK</th>
      <th>WEEK_START</th>
      <th>WEEK_END</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>18</td>
      <td>2018-04-30</td>
      <td>2018-05-06</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2018-05-07</td>
      <td>2018-05-13</td>
    </tr>
    <tr>
      <td>20</td>
      <td>2018-05-14</td>
      <td>2018-05-20</td>
    </tr>
    <tr>
      <td>21</td>
      <td>2018-05-21</td>
      <td>2018-05-27</td>
    </tr>
    <tr>
      <td>22</td>
      <td>2018-05-28</td>
      <td>2018-06-03</td>
    </tr>
  </tbody>
</table>
            </body>
        </html>
        