<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css')}}">
    <title>Jobsity Trips</title>
</head>
<body>
	<div class="row">
      <h2 align="center">Jobsity Trips Challenge</h2>
	  <p>
	  <h3 align="center">Choose one action</h3>
    </div>
	<p>
	<div class="text-center">
		<form action="http://127.0.0.1:8000/ingestion">
			<button type="submit" name="ingest">Ingestion</button>
		</form>
		<form action="http://127.0.0.1:8000/etl">
			<button type="submit" name="etl">ETL</button>
		</form>
		<form action="http://127.0.0.1:8000/report">
			<button type="submit" name="report">Report</button>
		</form>
	</div>
</body>
</html>
