<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
	<div class="row">
      <h2 align="center">Reports</h2>
	  <p>
	  <h3 align="center">Input Region ('all' for all regions) or Input Coordinates</h3>
    </div>
	<p>
    <form method="post">
      <input type="text" name="region" value="all"/> 
	  <label for="region">Region</label>
	  <p>
      <button type="submit" name="region_button" value="butreg">Region</button>   
	  <p>
    </form>
	<form method="post">
      <input type="number" name="1st_lat" value="14"/> 
      <label for="1st_lat">1st Latitude</label>
	  <p>
      <input type="number" name="1st_lon" value="50"/> 
      <label for="1st_lon">1st Longitude</label> 
	  <p>
      <input type="number" name="2nd_lat" value="14"/> 
      <label for="2nd_lat">2nd Latitude</label> 
	  <p>
      <input type="number" name="2nd_lon" value="51"/> 
      <label for="2nd_lon">2nd Longitude</label>
	  <p>
      <input type="number" name="3rd_lat" value="15"/> 
      <label for="3rd_lat">3rd Latitude</label> 
	  <p>
      <input type="number" name="3rd_lon" value="51"/> 
      <label for="3rd_lon">3rdt Longitude</label> 
	  <p>
      <input type="number" name="4th_lat" value="15"/> 
      <label for="4th_lat">4th Latitude</label> 
	  <p>
      <input type="number" name="4th_lon" value="50"/> 
      <label for="4th_lon">4tht Longitude</label>  
	  <p>	  
	  <button type="submit" name="coordinates_button" value="butcoor">Coordinates</button>
    </form>
</body>
</html>